.chat {
  font-family: -apple-system,'Open Sans',sans-serif;
  border-top-left-radius: 15px;
  color: white;
  display: flex;
  background-color: #393d5d;
  margin: 0 auto;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  &__sidebar {
    width: 320px;
    border-right: 1px solid #f7f7f7;
    height: calc(100vh - 67px);
    &-header {
      display: flex;
      justify-content: space-between;
      padding: 20px;
      & > div {
        span {
          margin-left: 6px;
        }
      }
    }
    &-search {
      padding: 0 20px 20px 20px;
      input {
        background-color: #f7f8f9;
      }
      span :nth-child(1) {
        background-color: #393d5d;
      }
    }
    &-list {
        overflow: auto;
        height: calc(100% - 125px);
        &::-webkit-scrollbar {
          display: none;
        }
        .dialog__item {
        padding: 7px 20px;
        margin-bottom: 0;
        cursor: pointer;
      }
      .ant-empty-description{
        color: #FFFFFF;
      }
    }
  }
  &__dialog {
    flex: 1;

    &-header {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 21px;
      height: 55px;
      margin-bottom: 20px;
      border-bottom: 1px solid #f7f7f7;
      &-center{
        text-align: center;
        .status {
          display: inline-block;
          color: #bfbfbf;
          position: relative;
          &::before {
            display: block;
            position: absolute;
            top: 8px;
            left: -11px;
            content: '';
            width: 7px;
            height: 7px;
            border-radius: 30px;
            background-color: #D3D3D3;
          }
          &--online {
            &::before {
              background-color: #00c980;
            }
          }
        }
      }
      &-name {
        font-weight: 500;
        display: block;
      }
    }
    &-messages{
      padding: 0 20px;
      overflow: auto;
      height: calc(100vh - 229px);
      &::-webkit-scrollbar {
        display: none;
      }
      &-empty {
        position: relative;
        top: 30%;

      }
    }
    &-input {
      display: flex;
      justify-content: center;
      border-top: 1px solid #f7f7f7;
      height: 87px;
      overflow: auto;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}