.edit{
  font-size: 22px;
  span:first-child{
    margin-right: 8px;
  }
}
.ant-popover{
  &-content{
    .ant-popover-inner {
      border-radius: 20px;
      &-content{
        .popover-options{
          display: flex;
          padding: 0 65px;
          justify-content: space-around;
          a, span {
            font-size: 18px;
            color: #FFFFFF;
          }
          a:hover {
            color:#a783e2;
          }
        }
      }
      .ant-popover-title {
        color: white;
      }
    }
  }
}