.serverError{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #2C2F48;
  &__header{
    font-size: 35px;
    color: #ef8a07;
  }
  &__body{
    display: flex;
    align-items: center;
    position: relative;
    background: #2C2F48;
    width: 60%;
    height: 78%;
      img{
        height: 600px;
      }
      p{
        align-self: center;
        color: white;
        font-size: 25px;
      }
    &-footer{
      margin-top:7px;
      display: flex;
      align-items: center;
      flex-direction: column;
      a{
        cursor: pointer;
        padding: 10px 15px;
        border-radius: 30px;
        background: orangered;
        color: #ffffff;
        font-size: 18px;
        border: none;
      }
      span {
        color: white;
        opacity: 0.6;
      }
    }
    &-footer:hover a {
      background: #d73800;
    }
  }

}