.chat__block {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 335px;
  max-height: 738px;
  top: 231px;
  left: 1px;
  background: #2c2f48;
  border-radius: 20px;
  box-shadow: 15px 15px 25px rgba(0,0,0,0.2);
  &-name {
    width: 100%;
    padding: 15px 22px 15px 20px;
    display: flex;
    justify-content: space-between;
  }
  &-messages {
    height: auto;
    width: 100%;
    overflow-y: auto;
    padding: 0 20px;
    &::-webkit-scrollbar {
      display: none;
    }
    &-message{
      display: flex;
      margin-bottom: 5px;
      .chat-avatar {
        align-self: flex-end;
        margin-right: 5px;
        img{
          border-radius: 50%;
        }
      }
      .chat-text{
        max-width: calc(100% - 49px);
        color: #2C2F48;
        background: #b6d1f9;
        box-shadow: 0 5px 5px rgba(54, 116, 255, 0.196733);
        border-radius: 12px 12px 12px 0;
        padding: 5px 10px;
        display: flex;
        flex-direction: column;
        span:first-child{
          color: #2c2f48;
        }
        p{
          overflow: hidden;
          margin-bottom: 0;
        }
      }
    }
  }

}