@media only screen and (max-width: 1735px) {
    .publication {
        width: 32% !important;
        height: 230px !important;
    }
    .ant-skeleton-title{
        margin: 11px auto 0 !important;
    }
    .ant-skeleton-paragraph{
        margin-top: 12px !important;
    }
    .publication__glass h2{
        font-size: 18px !important;
        line-height: 18px !important;
        font-weight: 600;
    }
    .publication__glass{
        top: 114px !important;
    }
    .profile__posts-publications{
        justify-content: unset !important;
        gap: 17px !important;
    }
}

@media only screen and (max-width: 1655px) {
    .authInfo-data span{
        font-size: 13px;
    }
    .login span{
        font-size:15px !important;
    }
    .popup-descr{
        left: 15px !important;
        top: -2px !important;
    }
    .serverError__body img{
        height: 500px !important;
    }
    .ava-border{
        left:127px !important;
    }
   .profile__info-main svg:not(:first-child) {
       left: 39px !important;
   }
    .profile__info-main-avatar{
        left:58px !important;
    }
    .site__layout-left-sider {
        width: 257px !important;
    }
    .login{
        width: 257px !important;
    }
    .friends__list-item-name span:nth-child(2){
        font-size: 12px !important;
    }
    .clip-avatar{
        margin-right: 3px !important;
        min-width: 44px !important;
    }
    .members__list-item-name > span:nth-child(2) {
        display: none !important;
    }
    .friends-block-short{
        width: 257px !important;
    }
    .chat__block{
        width: 257px !important;
    }
    .friends__list-short-item{
        width: 44px !important;
    }
    .left-sider-active ul {
        gap: 0 !important;
    }
    .searchPost{
        width: 300px !important;
        min-width: 300px !important;
    }
    .comments-description{
        font-size: 19px !important;
    }
    .searchPost__tagBlock{
        font-size: 19px !important;
        margin: 0 !important;
    }
    .searchPost__tagBlock-tags li{
        font-size: 17px !important;
    }
    .ant-segmented-item-label{
        font-size: 11px !important;
    }
    .profile__info-main-social {
        width: 250px !important;
        font-size: 14px !important;
    }
}
@media only screen and (max-width: 1500px){
    .publication {
        width: 31.9% !important;
        height: 220px !important;
    }
    .profile__posts-publications{
        justify-content: unset !important;
        gap: 16px !important;
    }
    .profile__posts-animation{
        height: 130px !important;
    }
    .publication__glass{
        padding: 5px !important;
    }
}

@media only screen and (max-width: 1335px) {
    .site__layout{
        overflow-y: auto;
        width: 1335px !important;
    }
    .site__layout-left-sider{
        position: absolute !important;
    }
    .serverError__body img{
        height: 300px !important;
    }
    .authInfo-data{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .popup-descr{
        top: 0 !important;
    }

}
@media only screen and (max-width: 1210px){
    .serverError{
        min-width: 1210px;
        overflow-y: auto;
    }
}