

.site__layout-right-sider{
  min-height: 100vh;

 .nav-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profile__info {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 2px;
    //min-width: 280px;
    background: #2C2F48;
    &-menu{
      width: 100%;
      height: 66px;
      padding: 20px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.25);
      display: flex;
      justify-content: space-between;
      align-items: center;

      svg {
        width: 30px;
        height: 30px;
        cursor: pointer;
        &:hover {
          opacity: 0.6;
        }
      }
      .profile-bell{
        position: relative;
        display: flex;
        cursor: pointer;
        &-notification{
          position: absolute;
          bottom: 6px;
          right: 6px;
          width: 12px;
          height: 11px;
          background: #f46b6b;
          border-radius: 10px;
          text-align: center;
          line-height: 12px;
          font-size: 10px;
        }
      }
    }
    &-main {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;

      .ava-border {
        position: absolute;
        left:170px;
        display: flex;
        height: 160px;
        margin-top: 9px;
        justify-content: center;
        z-index: 1;
      }
      svg {
        position: absolute;
        overflow: visible;
        width: auto;
        margin-top: 25px;
      }
      svg:not(:first-child) {
        left: 80px;
        top: 0;
        width: 169px;
        height: 172px;
      }
      &-avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 140px;
        height: 138px;
        position: absolute;
        top:37px;
        left: 101px;

        img {
          border-radius: 9px;
          width: 140px;
          height: 140px;
          clip-path: polygon(50% -3%, 92% 21%, 97% 29%, 96% 70%, 93% 79%, 50% 104%, 4% 78%, 2% 73%, 1% 31%, 5% 23%);
        }

        svg {
          overflow: visible;
          width: 140px;
          height: 140px;
          top:-25px;
          left:-5px;
          clip-path: polygon(50% -3%, 93% 19%, 101% 29%, 104% 68%, 94% 79%, 51% 104%, 14% 82%, 7% 75%, 4% 34%, 9% 21%);

          #SunAndMoon {
            animation: day 15s ease;
            transform-origin: center;
          }

          @keyframes day {
            from {
              transform: rotateZ(0deg);
            }
            to {
              transform: rotateZ(360deg);
            }
          }
        }


      }
      &-name {
        width: 100%;
        height: 20px;
        font-weight: 700;
        font-size: 17px;
        text-align: center;
        margin-top: 205px;
      }
      &-social {
        cursor: pointer;
        width: 270px;
        height: 18px;
        margin-bottom: 4px;
        margin-top: 4px;
        line-height: 18px;
        text-align: center;
        color: rgba(255, 255, 255, 0.25);
        .status-area{
          display: flex;
          justify-content: center;
          .profile-status span {
            color: rgba(255, 255, 255, 0.45);
          }
          .profile-status:hover{
            opacity: 0.6;
          }
          .profile-status-notMe {
            cursor: context-menu;
            span{
              color: rgba(255, 255, 255, 0.45);
            }
          }
          .input-status {
            input {
              background-color: #393d5d;
              color: #FFFFFF;
            }
            input:focus-visible{
              outline: none;
            }
          }
        }
      }
      &-sendMessage{
        display: flex;
        align-items: center;
        height: 24px;
        padding: 0 5px;
        cursor: pointer;
        border: 1px solid #868896;
        border-radius: 10px;
        box-shadow: 0 1px 15px 5px rgba(0, 0, 0, 0.15);
        span{
          color: #868896;
          font-size: 16px;
        }
      }
      &-sendMessage:hover{
        background-color: #393d5d;
        span{
          color: #FFFFFF;
        }
      }
    }
    &-login{
      min-height: 290px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      > span:first-child {
        font-size: 22px;
        font-weight: 600;
        padding: 20px;
      }
      &-authInfo{
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: column;
        font-size: 15px;

        .authInfo-data{
          padding-left: 20px;
          > span:first-child{
            font-weight: 600;
          }
          > span:nth-child(2),
          > span:nth-child(3){
            opacity: 0.6;
          }
          > span:nth-child(3){
            margin-left: 5px;
            cursor: pointer;
            span:nth-child(2){
              font-size: 13px;
              padding-left: 3px;
              opacity: 0;
              transition: 0.4s;
            }

          }
          span:nth-child(4){
            font-size: 13px;
            opacity: 0;
            transition: 0.4s;
          }
          .popup-descr{
            opacity: 0;
            font-size: 13px;
            position: absolute;
            left: 19px;
            top: 0;
          }
          .descr{
            opacity: 0;
          }
          .description-copied{
            opacity: 0.8 !important;
          }
          .description-copy{
            opacity: 0.8 !important;
          }
        }
      }
    }

    &-members{
      position: absolute;
      bottom: 262px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .new-members{
        width: 100%;
        padding: 15px 20px;
        display: flex;
        justify-content: space-between;

        span:nth-child(1) {
          width: 97px;
          color: rgba(255, 255, 255, 0.55);
        }
        span:nth-child(2) {
          width: 43px;
          color: rgba(255, 255, 255, 0.25);
        }
      }

      .members__list{
        width: 100%;
        padding: 0 20px;
        &-item{
          &-name{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            svg {
              margin-right: 3px;
              font-size: 13px;
            }
            span:nth-child(1) {
              font-size: 15px;

            }
            span:nth-child(2) {
              font-size: 13px;
              line-height: 13px;
              color: rgba(255, 255, 255, 0.25);
            }
          }
        }
        &-item:hover{
          color:#b6d1f9;
        }
      }


    }
    &-social{
      position: absolute;
      bottom: 0;
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      padding: 10px 20px;
      .ant-form {
        width: 100%;
        &-item{
          width: 100%;
          margin-bottom: 15px;
        }
        .input-media{
          display: flex;
          svg{
            color: #b7daf0;
            width: 33px;
            height: 33px;
          }
          input {
            background-color: #393d5d;
            color: #FFFFFF;
            border-top: rgba(33, 33, 34, 0.72);
            border-left: rgba(33, 33, 34, 0.72);
            border-bottom: #757576;
            border-right: #757576;
          }
          input:focus{
            box-shadow: none;
            border-color: #757576;
          }
          input:hover{
            border-color: #757576;
          }
          .ant-input{
            border-width: 2px;
            border-style: inset;
            //border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
          }
          span{
            font-size: 33px;
            margin-right: 5px;
          }
        }
        .contacts-button{
          margin-left: 40px;
          display: flex;
          justify-content: space-evenly;
          .ant-form-item{
            width: auto;
          }
          .ant-btn{
            border-color: #FFFFFF;
            color: #FFFFFF;
          }
          .ant-btn:hover{
            border-color: #b6d8ef;
            color: #b6d8ef;
          }
        }
      }
      .follow{
        width: 100%;
        color: rgba(255, 255, 255, 0.55);
        margin-bottom: 15px;
        display: flex;
        justify-content: space-between;
        span:nth-child(2){
          opacity: 0.8;
          cursor: pointer;
        }
        svg:hover{
          opacity: 0.5;
        }
      }

    }
  }
}
@import 'CSS/adaptiveVertical.css';


