.header {
  display: flex;
  justify-content: space-between;
  background-color: #2C2F48;
  padding: 0;
  &__content {
    width: 224px;
    background: #684fb5;
  }
  &__content-menu {
    width: 304px;
      border-left: 4px solid #684fb5;
  }
}
.site__layout {
  &-content{
    background: radial-gradient(73.23% 106% at 34.94% 108.33%, #F7CBFD 0%, #7758D1 100%)
  }
  &-background aside{
    height: 12%;
    background-color: transparent;
    padding-left: 20px;
  }
  &-background {
    height: 100%;
    background: rgba(44, 47, 72, 0.2);
  }
  &-sider {
    padding: 20px;
    margin-right: 24px;
    .ant-layout-sider-children ul {
      background-color: transparent;
      color: white;
      border-right: 0;
      .ant-menu-submenu-selected li {

      }
    }
  }
}
.ant-menu-item a,
.ant-menu-submenu-title {
  font-family: 'Lato', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 11px;
  /* identical to box height */
  letter-spacing: 0.36px;
  color: #FFFFFF;

}
.ant-menu-submenu-title{
  font-size: 18px;
}
.ant-menu-item-selected {
  background-color: rgba(0, 0, 0, 0.5) !important;
  border-radius: 5px;
  &:after {
    border-right: 0 !important;
  }
}
.ant-menu-submenu-selected {
  color: green !important;
}


