
.header {
  display: flex;
  justify-content: space-between;
  background-color: #2C2F48;
  padding: 0;
  &__content {
    width: 224px;
    background: #684fb5;
  }
  &__content-menu {
    min-width: 284px;
    border-left: 4px solid #684fb5;
  }
}
.site__layout {
  font-family: 'Lato',serif;
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 15px;
  height: 100vh;
  background: radial-gradient(73.23% 106% at 34.94% 108.33%, #F7CBFD 0%, #7758D1 100%);
  .ant-layout-sider {
    background: transparent;
  }
  .ant-layout {
    background: transparent;
  }
  aside {
    flex:none !important;
    max-width: none !important;
    min-width: auto !important;
    width: 340px !important;
    .friends-block-short{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: absolute;
      width: 300px;
      height: 130px;
      top: 127px;
      right: 1px;
      left: -9px;
      background: #2c2f48;
      margin-left: 30px;
      border-radius: 20px;
      box-shadow: 15px 15px 25px rgba(0,0,0,0.2);
      .friends__list-short{
        display: flex;
        &-item {
          width: 65px;
          display: flex;
          flex-direction: column;
          align-items: center;
          &-avatar {
          clip-path:polygon(37% 5%, 61% 5%, 90% 26%, 94% 36%, 94% 66%, 91% 75%, 60% 97%, 38% 97%, 10% 76%, 5% 68%, 5% 35%, 11% 24%);
          }
          &-name {
            font-size: 13px;
            text-align: center;
          }
        }
      }
      .friends-short{
        width: 100%;
        padding: 15px 22px 15px 20px;
        display: flex;
        justify-content: space-between;

        span:nth-child(1) {
          width: 97px;
          color: rgba(255, 255, 255, 0.55);
        }
        span:nth-child(2) {
          width: 43px;
          color: rgba(255, 255, 255, 0.25);
        }
      }
    }
    .chat__block {
      display: flex;
      align-items: center;
      flex-direction: column;
      position: absolute;
      width: 300px;
      height: 605px;
      top: 260px;
      right: 1px;
      left: -9px;
      background: #2c2f48;
      margin-left: 30px;
      border-radius: 20px;
      box-shadow: 15px 15px 25px rgba(0,0,0,0.2);
      &-name {
        width: 100%;
        padding: 15px 22px 15px 20px;
        display: flex;
        justify-content: space-between;
      }
      &-messages {
        height: auto;
        width: 100%;
        overflow-y: auto;
        padding: 0 10px 0 20px;
      }
      &-textarea {
        padding: 20px;
        width: 100%;
      .input-full {
        width: 260px;
        display: flex;
        align-items: center;
        span {
          font-size: 24px;
          padding-left: 5px;
        }
      }
      }
    }
  }
  .login {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
  }
  &-left-sider {
    position: fixed;
    margin-top: 44px;
    inset: 20px;
    background: #2c2f48;
    width: 300px;
    border-left: 10px solid #2c2f48;
    border-radius: 20px;
    box-shadow: 15px 15px 25px rgba(0,0,0,0.2);
    overflow: hidden;
    max-height: 800px;
    transition: max-height 0.2s;
    ul {
      position: absolute;
      left: 0;
      width: 100%;


      li:hover {
        background: #FFFFFF;
      }
    }
    .friends-block {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: absolute;
      top: 250px;
      right: 1px;
      left: -9px;
      margin-top: 48px;
        .friends{
          width: 100%;
          padding: 15px 20px;
          display: flex;
          justify-content: space-between;

          span:nth-child(1) {
            width: 97px;
            color: rgba(255, 255, 255, 0.55);
          }
          span:nth-child(2) {
            width: 43px;
            color: rgba(255, 255, 255, 0.25);
          }
        }
        .friends__list{
          width: 100%;
          padding: 0 20px;
          &-item{
            display: flex;
            padding: 8px 40px 8px 8px;
            margin-bottom: 8px;
            width: 100%;
            height: 60px;
            background: #393D5D;
            background-blend-mode: overlay;
            border-radius: 5px;
            box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
            &-avatar{
              margin-right: 8px;
              // clip-path: polygon(50% 0%, 89% 22%, 95% 32%, 95% 69%, 89% 78%, 50% 104%, 8% 75%, 4% 68%, 4% 34%, 10% 24%);
              clip-path: polygon(37% 5%, 61% 5%, 90% 26%, 94% 36%, 94% 66%, 91% 75%, 60% 97%, 38% 97%, 10% 76%, 5% 68%, 5% 35%, 11% 24%);
            }
            &-name{
              display: flex;
              flex-direction: column;
              justify-content: space-evenly;

              span:nth-child(1) {
                font-size: 15px;

              }
              span:nth-child(2) {
                font-size: 13px;
                color: rgba(255, 255, 255, 0.25);
              }
            }
          }
        }
    }

  }
  .left-sider-active {
    max-height: 60px;

    ul {
      display: flex;
      width: 100%;
      top: 1px;
      li {
        position: relative;
        list-style: none;
        width: 60px;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        a {
          position: relative;
          width: 100%;
          display: block;
          color:white;

          span:first-child {
            position: relative;
            display: inline-block;
            min-width: 60px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            font-size: 1.75em;
          }
          span:not(:first-child) {
            position: relative;
            display: inline-block;
            padding: 0 10px;
            height: 60px;
            line-height: 60px;
            text-align: start;
            white-space: nowrap;
            font-size: 17px;

          }
        }
      }
      li a:hover {
        color:#2c2f48;
      }
      li:hover {
        background: #FFFFFF;
      }
      li:hover::before {
        content: "";
        position: absolute;
        top: 40px;
        right: -20px;
        width: 20px;
        height: 20px;
        background: transparent;
        border-bottom-left-radius: 20px;
        box-shadow: -7.5px 7.5px 0 7.5px #fff;
      }
      li:hover::after {
        content: "";
        position: absolute;
        bottom: 0px;
        right: 60px;
        width: 20px;
        height: 20px;
        background: transparent;
        border-bottom-right-radius: 20px;
        box-shadow: 7.5px 7.5px 0 7.5px #fff;
      }
    }
    ul li a span:not(:first-child) {
      display: none;
    }
    .toggle{
      position: absolute;
      bottom: 16px;
      right: 16px;
      width: 28px;
      height: 28px;
      background: white;
      border-radius: 50%;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .toggle::before {
      content: '';
      position: absolute;
      width: 12px;
      height: 2px;
      border-radius: 2px;
      background: #00c980;
      transform: translateY(0px) rotate(-405deg);
      transition: 1s;
    }
    .toggle::after {
      content: '';
      position: absolute;
      width: 12px;
      height: 2px;
      border-radius: 2px;
      background: #00c980;
      transform: translateY(0px) rotate(225deg);
      transition: 1s;
    }
  }
  .left-sider-inactive{
    ul {
      top: 14px;
      li a:hover {
        color:#2c2f48;
      }
    }
    ul li {
      position: relative;
      list-style: none;
      width: 100%;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      a {
        position: relative;
        width: 100%;
        display: block;
        color:white;

        span:first-child {
          position: relative;
          display: inline-block;
          min-width: 60px;
          height: 60px;
          line-height: 60px;
          text-align: center;
          font-size: 1.75em;
        }
        span:not(:first-child) {
          position: relative;
          display: inline-block;
          padding: 0 10px;
          height: 60px;
          line-height: 60px;
          text-align: start;
          white-space: nowrap;
          font-size: 17px;

        }
      }
    }
    ul li:hover::before {
      content: "";
      position: absolute;
      top: -20px;
      right: 0;
      width: 20px;
      height: 20px;
      background: transparent;
      border-bottom-right-radius: 20px;
      box-shadow: 7.5px 7.5px 0 7.5px #fff;
    }
    li:hover::after {
      content: "";
      position: absolute;
      bottom: -20px;
      right: 0;
      width: 20px;
      height: 20px;
      background: transparent;
      border-top-right-radius: 20px;
      box-shadow: 7.5px -7.5px 0 7.5px #fff;
    }
    .toggle{
      position: absolute;
      bottom: 15px;
      right: 15px;
      width: 50px;
      height: 50px;
      background: white;
      border-radius: 50%;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .toggle::before {
      content: '';
      position: absolute;
      width: 26px;
      height: 3px;
      border-radius: 3px;
      background: #00c980;
      transform: translateY(-5px);
      transition: 1s;
    }
    .toggle::after {
      content: '';
      position: absolute;
      width: 26px;
      height: 3px;
      border-radius: 3px;
      background: #00c980;
      transform: translateY(5px);
      transition: 1s;
    }
  }

  &-right-sider{

    .profile__info {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-left: 4px;
      min-width: 280px;
      background: #2C2F48;
      &-menu{
        width: 100%;
        height: 65px;
        padding: 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.25);
        opacity: 0.7;
        display: flex;
        justify-content: space-between;
        align-items: center;
        svg {
          width: 30px;
          height: 30px;
        }
      }
      &-main {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

        .ava-border {
          display: flex;
          height: 160px;
          margin-top: 9px;
          top: 13px;
          left: 80px;
          justify-content: center;
          z-index: 1;
        }
        svg {
          position: absolute;
          overflow: visible;
          width: auto;
          margin-top: 25px;
        }
        svg:not(:first-child) {
          left: 80px;
          top: 0px;
          width: 169px;
          height: 172px;
        }
        &-avatar {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 140px;
          height: 138px;
          position: absolute;
          top:37px;
          left: 97px;

          img {
            border-radius: 9px;
            width: 140px;
            height: 140px;
            clip-path: polygon(50% -4%, 92% 21%, 97% 29%, 96% 69%, 93% 79%, 50% 104%, 4% 77%, 2% 73%, 1% 31%, 5% 23%);
          }

          svg {
            overflow: visible;
            width: 140px;
            height: 140px;
            top:-25px;
            left:-5px;
            clip-path: polygon(50% -3%, 93% 19%, 101% 29%, 104% 68%, 94% 79%, 51% 104%, 14% 82%, 7% 75%, 4% 34%, 9% 21%);

            #SunAndMoon {
              animation: day 15s ease;
              transform-origin: center;
            }

            @keyframes day {
              from {
                transform: rotateZ(0deg);
              }
              to {
                transform: rotateZ(360deg);
              }
            }
          }


        }
        &-name {
          width: 116px;
          height: 20px;
          font-weight: 700;
          font-size: 17px;
          text-align: center;
          margin-top: 66px;
        }
        &-social {
          width: 105px;
          height: 18px;
          margin-bottom: 20px;
          margin-top: 4px;
          line-height: 18px;
          text-align: center;
          color: rgba(255, 255, 255, 0.25);
        }
      }
      &-members{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .new-members{
          width: 100%;
          padding: 15px 20px;
          display: flex;
          justify-content: space-between;

          span:nth-child(1) {
            width: 97px;
            color: rgba(255, 255, 255, 0.55);
          }
          span:nth-child(2) {
            width: 43px;
            color: rgba(255, 255, 255, 0.25);
          }
        }

        .members__list{
          width: 100%;
          padding: 0 20px;
          &-item{
            display: flex;
            padding: 8px 40px 8px 8px;
            margin-bottom: 8px;
            width: 100%;
            height: 60px;
            background: #393D5D;
            background-blend-mode: overlay;
            border-radius: 5px;
            box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
            &-avatar{
              margin-right: 8px;
             // clip-path: polygon(50% 0%, 89% 22%, 95% 32%, 95% 69%, 89% 78%, 50% 104%, 8% 75%, 4% 68%, 4% 34%, 10% 24%);
              clip-path: polygon(37% 5%, 61% 5%, 90% 26%, 94% 36%, 94% 66%, 91% 75%, 60% 97%, 38% 97%, 10% 76%, 5% 68%, 5% 35%, 11% 24%);
            }
            &-name{
              display: flex;
              flex-direction: column;
              justify-content: space-evenly;

              span:nth-child(1) {
                font-size: 15px;

              }
              span:nth-child(2) {
                font-size: 13px;
                color: rgba(255, 255, 255, 0.25);
              }
            }
          }
        }
      }
      &-social{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding: 20px;
        .follow{
          color: rgba(255, 255, 255, 0.55);
          margin-bottom: 15px;
        }
        .social__media{
          display: flex;
          padding: 8px 40px 8px 8px;
          margin-bottom: 8px;
          width: 100%;
          height: 60px;
          background: #393D5D;
          background-blend-mode: overlay;
          border-radius: 5px;
          box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
          &-background{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 8px;
            width: 44px;
            height: 44px;
            background-color: #2E314B;
            clip-path: polygon(50% 0%, 89% 22%, 95% 32%, 95% 69%, 89% 78%, 50% 104%, 8% 75%, 4% 68%, 4% 34%, 10% 24%);
          }

          &-link{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
          }
        }
      }
    }
  }
}
.ant-menu-item a,
.ant-menu-submenu-title {
  font-family: 'Lato', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 11px;
  /* identical to box height */
  letter-spacing: 0.36px;
  color: #FFFFFF;

}
.ant-menu-submenu-title{
  font-size: 18px;
}
.ant-menu-item-selected {
  background-color: rgba(0, 0, 0, 0.5) !important;
  border-radius: 5px;
  &:after {
    border-right: 0 !important;
  }
}
.ant-menu-submenu-selected {
  color: green !important;
}


