@import 'antd/dist/antd.css';

/*@import '~reset-css/reset.css';*/

body,
html,
#root,
.wrapper {
    margin: 0;
    color: #202020;
    font-family: -apple-system, BlinkMacSystemFont, 'Lato','Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Open Sans','Helvetica Neue',
    sans-serif;
    font-size: 14px;
    height: 100%
}
#root{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

