.ant-input-affix-wrapper{
  background-color: #393d5d !important;
  input{
    background-color: #393d5d !important;
    color: #FFFFFF;
  }
  &:hover,
  &:focus{
    border-color: #72ffff !important;
  }
  &:focus{
    box-shadow: 0 0 0 2px rgb(56, 150, 150);
  }
  .ant-input-clear-icon{
    background-color: inherit !important;
    svg{
      color: #FFFFFF;
    }
  }
  &-lg{
    background-color: #e8f0fe !important;
    .ant-input-lg{
      background-color: #e8f0fe !important;
      color: #1d203e;
    }
  }
}
.ant-input-affix-wrapper-focused{
 border-color: #72ffff !important;
}
.ant-input-search-button{
  background-color: #393d5d !important;
  span{
    color: #FFFFFF !important;
    background-color: #393d5d !important;
    svg{
      background-color: #393d5d !important;
    }
  }
  &:hover{
    border-color: #72ffff !important;
    span{
      color:#72ffff !important;
    }
  }
}